@mixin authForm() {
  background-color: white;
  padding: 8rem 5rem 8rem 5rem;
  border-radius: .5rem;
  -webkit-box-shadow: 10px 10px 58px -19px rgba(48,48,48,1);
  -moz-box-shadow: 10px 10px 58px -19px rgba(48,48,48,1);
  box-shadow: 10px 10px 58px -19px rgba(48,48,48,1);
}

.auth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.registerForm {
  height: 60rem;
  @include authForm();
}

.loginForm {
  height: 40rem;
  @include authForm();
}

.authTitle {
  text-align: center;
  margin-top: -5rem;
  font-weight: 550;
  letter-spacing: .2rem;
}

.authButton {
  width: 100%;
  background-color: black;
  margin: 3rem 0 -1rem 0;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.8rem;
}
.authButton:hover {
  background: linear-gradient(310deg, rgba(2,0,36,1) 0%, rgba(215,70,163,1) 35%, rgba(255,154,0,1) 57%);
}
.authButton:focus {
  background-color: #260C39;
}

.fields{
  margin-bottom: 3rem;
}

.fields input {
  width: 100%;
}

.errors {
  color: #d68484;
  font-size: 1.7rem;
  margin-top: -2.5rem;
}

@media screen and (max-height: 800px) {
  .fields{
    margin-bottom: 2.2rem;
  }
  .auth {
    font-size: 1.8rem;
  }
  .registerForm {
    height: 48rem;
    padding: 0 3rem;
    border-radius: .5rem;
  }
  .loginForm {
    height: 32rem;
    padding: 0 3rem;
    border-radius: .5rem;
  }
  .registerButton {
    margin: 1rem 0;
    font-size: 1.6rem;
  }
  .authTitle {
    margin: 2rem 0 1rem 0;
  }
  .errors {
    font-size: 1.5rem;
    margin-top: -2.4rem;
  }
}

@media screen and (max-width: 600px),
screen and (max-height:600px){
  .registerForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .loginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
  }
  .authTitle {
    margin: 0;
  }
}