@import "~bootstrap/scss/bootstrap";
@import "./Components/Navbar/navbar.scss";
@import "./Components/Footer/footer.scss";
@import "./Components/Auth/auth.scss";
@import "./Components/Notification/notification.scss";
@import "./Components/Profile/profile.scss";

* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  background-color: #f2f2f2;
}

.title {
  font-size: 3.5rem;
}

.wrapper {
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}