.profile-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50rem;
  height: 60rem;
  background-color: #F8FBEF;
  border-radius: 0.9rem;
  padding: 0 9rem;
  -webkit-box-shadow: 10px 10px 58px -19px rgba(48,48,48,1);
  -moz-box-shadow: 10px 10px 58px -19px rgba(48,48,48,1);
  box-shadow: 10px 10px 58px -19px rgba(48,48,48,1);
}

.avatar-wrapper {
  margin: 5rem 0 2rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10rem;
}

.profile-avatar { 
  object-fit: cover;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
}


.profile-buttons {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
}

.profile-content {
  display: flex;
  flex-direction: column;
  font-size: 1.7rem;
  justify-content: center;
  width: 100%;
  text-align: left;
  margin: 2rem 0; 
}

.profile-content p {
  margin-bottom: 3rem;
}

@mixin profile-button ($width, $margin-top, $margin-right, $margin-bottom, $margin-left, $bg-color, $color){
  width: $width;
  background-color: $bg-color;
  font-size: 1.8rem;
  margin-top: $margin-top;
  margin-right: $margin-right;
  margin-bottom: $margin-bottom;
  margin-left: $margin-left;
  border: none;
  border-radius: 0.5rem;
  color: $color;
}

.edit-profile-button {
  @include profile-button(15rem, 1rem, 1rem,1rem,0, #63becc, white);
}
.edit-profile-button:hover {
  background-color: #718a93;
}

.admin-button {
  @include profile-button(32rem, 0,0,0,0, #b7b2b2, white);
}

.admin-button:hover {
  background-color: #666666;
}

.delete-user-button {
  @include profile-button(15rem, 1rem, 0,1rem,1rem, #d17b88, white);
}
.delete-user-button:hover {
  background-color: #718a93;
}


@media screen and (max-height: 800px) {
  .profile {
    width: 45rem;
    height: 50rem;
  }
  .admin-button {
    width: 100%;
  }
}

@media screen and (max-width: 600px),
screen and (max-height:600px){
  .profile {
    width: 100%;
    height: 100%;
  }
}