.footer {
  height: 5rem;
  color: white;
  letter-spacing: .2rem;
  background: linear-gradient(310deg, rgba(2,0,36,1) 0%, rgba(215,70,163,1) 35%, rgba(255,154,0,1) 57%);
  display: flex;
  justify-content: center;
  align-items: center;
}