.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
  background-color: white;
  letter-spacing: .6rem;
}

.navbar a{
  font-size: 2rem;
}

.navbar svg {
  height: 2.5rem;
  width: 2.5rem;
  color: #707070;
}